<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div container="db-user-search">
      <label for="name">고객이름 : </label>
      <input id="name" type="text">
      <button id="read">조회</button>
    </div>

    <div class="db-data-table" >
      <table>
        <thead>
          <tr>
            <th class="th-no">번호</th>
            <th class="th-name">고객 이름</th>
            <th class="th-customer-no">고객 번호</th>
            <th class="th-contract-start">계약시작일자</th>
            <th class="th-contract-end">계약종료일자</th>
            <th class="th-contract-descrition">계약 내용</th>
          </tr>
        </thead>
        
        <tbody></tbody>
      </table>
    </div>
    <div class="db-user-button-container">
      <button id="button-view">고객 프로파일 사이트 조회</button>
      <button>고객 프로파일 추가</button>
      <button>고객 프로파일 수정</button>
      <button>고객 프로파일 삭제</button>
    </div>
  </div>

</body>
</html>