<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div container="db-user-search">
      <label for="name">고객이름 : </label>
      <input id="name" type="text">
      <button>조회</button>
    </div>

    <div class="db-data-table" >
      <table>
        <tr>
          <th class="th-name"></th>
          <th class="th-description">고객 이름</th>
          <th class="th-update">고객 번호</th>
          <th class="th-delete">계약시작일자</th>
          <th class="th-delete">계약종료일자</th>
          <th class="th-delete">계약 내용</th>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>

        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>

        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">fjgkfdgjsdfosfjasdasdasdsadasdasdasdasdasdasasdsdfjdgjkdfg;ksd;lfj;sdfgjsdfgjsdkfklsdfnklsdfnksdlkfsdklgsjk</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>
        <tr>
          <td class="td-name"></td>
          <td class="td-description">고객 이름</td>
          <td class="td-update">고객 번호</td>
          <td class="td-delete">계약시작일자</td>
          <td class="td-delete">계약종료일자</td>
          <td class="td-delete">계약 내용</td>
        </tr>

      </table>
    </div>
    <div class="db-user-button-container">
      <button class="button-search">고객 프로파일 사이트 조회</button>
      <button>고객 프로파일 추가</button>
      <button>고객 프로파일 수정</button>
      <button>고객 프로파일 삭제</button>
    </div>
  </div>

</body>
</html>