<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/view.css">
  <script src="/js/view.js" defer></script>
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <div container="db-user-insert">
      <label for="user-no">고객 번호 : </label>
      <input id="user-no" type="text" value="<%= no %>">

    </div>
    <div container="db-user-insert">
      <label for="user-name">고객 이름 : </label>
      <input id="user-name" type="text" value="<%= name %>">
    </div>

    <div container="db-user-insert">
      <label for="user-no">고객 사이트 번호 : </label>
      <input id="user-no" type="text" >

    </div>
    <div container="db-user-insert">
      <label for="user-no">고객 사이트 이름 : </label>
      <input id="user-no" type="text" >

    </div>
    <div container="db-user-insert">
      <label for="user-no">고객 사이트 주소 : </label>
      <input id="user-no" type="text" >

    </div>
  </div>

</body>
</html>