<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/update.css">
  <script src="/js/update.js" defer></script>
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <div container="db-user-insert">
      <label>고객 번호 : </label>
      <input id="user-no" type="text" value="<%= no %>" disabled>

    </div>
    <div container="db-user-insert">
      <label >고객 이름 : </label>
      <input id="user-name" type="text" value="<%= name %>" disabled>
    </div>

    <div container="db-user-insert">
      <label >고객 사이트 번호 : </label>
      <span> 사이트 번호는 자동 부여 됩니다.</span>
    </div>
    <div container="db-user-insert">
      <label for="user-site-name">고객 사이트 이름 : </label>
      <input id="user-site-name" type="text" >

    </div>
    <div container="db-user-insert">
      <label for="user-site-address">고객 사이트 주소 : </label>
      <input id="user-site-address" type="text" >

    </div>

    <div class="db-user-button-container">
      <button class="button-ok">확인</button>
    </div>
  </div>

</body>
</html>